---
- copy:
    dest: /etc/apt/sources.list.d/unstable-wireguard.list
    content: |
      deb http://deb.debian.org/debian/ unstable main
- copy:
    dest: /etc/apt/preferences.d/limit-unstable
    content: |
      Package: *
      Pin: release a=unstable
      Pin-Priority: 150

